{{log this}}

{{>header}}

{{#if items.length}}
  <table>
    <thead class="until-xs">
      <tr>
        <th class="image-thumbnail"></th>
        <th class="webkite-name webkite-apply-sort">
          {{#if (find facets sortable=true name="Business Name")}}
            {{#with (find facets name="Business Name")}}
              <a href="#" data-sort="{{name}}"{{#if (equals name ../sort.currentSort)}} class="{{#with ../../sort}}{{currentDirection}}{{/with}}"{{/if}}>{{displayName}}</a>
            {{/with}}
          {{else}}
            <span>{{#with (find facets name="Business Name")}}{{displayName}}{{/with}}</span>
          {{/if}}
        </th>
        <th class="webkite-address until-xs"><span class="md-only">{{t "Contact Info" default="Contact Info"}}</span></th>
        <th class="until-sm">
          {{#if (find facets filterable=true name="Category")}}
            <span>{{#with (find facets filterable=true name="Category")}}{{displayName}}{{/with}}</span>
          {{/if}}
        </th>
        <th class="open-toggle"></th>
      </tr>
    </thead>
    {{#with items}}
      {{#each this}}
        <tbody>
          <tr class="webkite-result">      
            <td class="image-thumbnail until-xs">{{#facet name="Image"}}<div class="image-thumbnail" style="background-image:url({{displayValue}});"></div>{{/facet}}</td>
            <td class="webkite-name">
              <ul>
                {{#facet name="Business Name"}}
                  <li>
                    <h2>{{displayValue}}</h2> 
                  </li>
                {{/facet}}
                {{#any (find facets name="Address 1") (find facets name="City") (find facets name="State") (find facets name="Zip Code") (find facets name="Country") (find facets name="Address 2")}}
                  <li class="xs-only">
                    <b>{{downcase (t "Address" default="Address")}}</b>
                    <span class="facet-values address">
                      <a target="_blank" href="http://maps.google.com/?q={{#facet name='Address 1'}}{{displayValue}}{{/facet}} {{#facet name='City'}}{{displayValue}}{{/facet}} {{#facet name='State'}}{{displayValue}}{{/facet}} {{#facet name='Zip Code'}}{{displayValue}}{{/facet}} {{#facet name='Country'}}{{displayValue}}{{/facet}}" class="webkite-address">
                        {{#facet name="Address 1"}}<span>{{displayValue}}</span>{{/facet}}
                        {{#facet name="Address 2"}}<span>{{displayValue}}</span>{{/facet}}
                        <span>
                          {{~#facet name="City"}}<span class="city">{{displayValue}}</span>{{/facet}}
                          {{~#facet name="State"}}<span class="state">{{displayValue}}</span>{{/facet}}
                          {{#facet name="Zip Code"}}{{displayValue}}{{/facet~}}
                        </span>
                        {{~#facet name="Country"}}<span>{{displayValue}}</span>{{/facet}}
                      </a>
                    </span>
                  </li>
                {{/any}}
                {{#facet name="Phone Number"}}
                  <li class="xs-only">
                    <b>{{downcase displayName}}</b>
                    <span class="facet-values"><a href="tel:{{displayValue}}">{{displayValue}}</a></span>
                  </li>
                {{/facet}}
                {{#facet name="Category"}}
                  <li class="xs-only">
                    {{#if filterable}}
                      <b class="inline-filter-button">
                        <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase displayName}}<i></i></a>
                        <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
                          {{#each filterableValues}}
                            <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
                          {{/each}}
                        </ul>
                      </b>
                      <span class="facet-values">
                        {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
                      </span>
                    {{else}}
                      <b>{{downcase displayName}}</b>
                      <span class="facet-values">{{displayValue}}</span>
                    {{/if}}
                  </li>
                {{/facet}}
              </ul>
            </td>
            <td class="webkite-address until-xs">
              <ul>
                {{#any (find facets name="Address 1") (find facets name="City") (find facets name="State") (find facets name="Zip Code") (find facets name="Country") (find facets name="Address 2")}}
                  <li>
                    <b class="sm-only">{{downcase (t "Address" default="Address")}}</b>
                    <span class="facet-values address">
                      <a target="_blank" href="http://maps.google.com/?q={{#facet name='Address 1'}}{{displayValue}}{{/facet}} {{#facet name='City'}}{{displayValue}}{{/facet}} {{#facet name='State'}}{{displayValue}}{{/facet}} {{#facet name='Zip Code'}}{{displayValue}}{{/facet}} {{#facet name='Country'}}{{displayValue}}{{/facet}}" class="webkite-address">
                        {{#facet name="Address 1"}}<span>{{displayValue}}</span>{{/facet}}
                        {{#facet name="Address 2"}}<span>{{displayValue}}</span>{{/facet}}
                        <span>
                          {{~#facet name="City"}}<span class="city">{{displayValue}}</span>{{/facet}}
                          {{~#facet name="State"}}<span class="state">{{displayValue}}</span>{{/facet}}
                          {{#facet name="Zip Code"}}{{displayValue}}{{/facet~}}
                        </span>
                        {{~#facet name="Country"}}<span>{{displayValue}}</span>{{/facet}}
                      </a>
                    </span>
                  </li>
                {{/any}}
                {{#facet name="Phone Number"}}
                  <li>
                    <b class="sm-only">{{downcase displayName}}</b>
                    <span class="facet-values"><a href="tel:{{displayValue}}">{{displayValue}}</a></span>
                  </li>
                {{/facet}}
                {{#facet name="Category"}}
                  <li class="sm-only">
                    {{#if filterable}}
                      <b class="inline-filter-button">
                        <a class="webkite-toggle" data-target=".{{../../id}}-{{name}}-menu">{{downcase displayName}}<i></i></a>
                        <ul class="{{../../id}}-{{name}}-menu inline-filter-menu webkite-hide webkite-menu">
                          {{#each filterableValues}}
                            <li><a href="#" class="webkite-add-filter webkite-toggle" data-target=".{{../../../id}}-{{../name}}-menu" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a></li>
                          {{/each}}
                        </ul>
                      </b>
                      <span class="facet-values">
                        {{#each values}}<a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}, <br>{{/unless}}{{/each}}
                      </span>
                    {{else}}
                      <b>{{downcase displayName}}</b>
                      <span class="facet-values">{{displayValue}}</span>
                    {{/if}}
                  </li>
                {{/facet}}
              </ul>
            </td>
            <td class="md-only">
              {{#facet name="Category"}}
                <ul>
                  {{#if filterable}}
                    <li>
                      {{~#each values~}}
                        <a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>{{#unless @last}}<br>{{/unless}}
                      {{~/each~}}
                    </li>
                  {{else}}
                    <li>
                      {{~#each values}}{{this}}{{#unless @last}}<br>{{/unless}}{{/each~}}
                    </li>
                  {{/if}}
                </ul>
              {{/facet}}
            </td>
            <td class="open-toggle">
              {{#any (find facets name="Image") (find facets name="Description") (find facets name="Website") (find facets name="Email") (find facets name="Fax Number") (find facets name="Facebook") (find facets name="Twitter")}}
                <a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item webkite-toggle {{this.id}}-toggler {{#if showDetails}}webkite-hide{{/if}} more-button" data-target=".{{this.id}}-toggler" data-animate="200ms"></a>
                <a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item webkite-toggle {{this.id}}-toggler {{#unless showDetails}}webkite-hide{{/unless}} less-button" data-target=".{{this.id}}-toggler" data-animate="200ms"></a>
              {{/any}}
            </td>
          </tr>
          {{#any (find facets name="Image") (find facets name="Description") (find facets name="Website") (find facets name="Email") (find facets name="Fax Number") (find facets name="Facebook") (find facets name="Twitter")}}
            <tr id="{{this.id}}" class="webkite-item-details">{{>result-details}}</tr>
          {{/any}}
        </tbody>
      {{/each}}
    {{/with}}
  </table>
{{else}}
  {{>noresult}}
{{/if}}

{{>footer}}