<ul>
  {{#facet name="Image"}}
    <li class="xs-only">
      <img src="{{displayValue}}"/>
    </li>
  {{/facet}}
  {{#facet name="Description"}}
    <li>
  	  <p class="description">{{displayValue}}</p>
    </li>
  {{/facet}} 
  {{#facet name="Website"}}
    <li>
      <b>{{downcase displayName}}</b>
      <span class="facet-values"><a href="{{displayValue}}" class="webkite-website" target="_blank">{{displayValue}}</a></span>
    </li>
  {{/facet}}
  {{#facet name="Email"}}
    <li>
      <b>{{downcase displayName}}</b>
      <span class="facet-values"><a href="mailto:{{displayValue}}" class="webkite-email">{{displayValue}}</a></span>
    </li>
  {{/facet}}
  {{#facet name="Fax Number"}}
    <li>
      <b>{{downcase displayName}}</b>
      <span class="facet-values"><a href="tel:{{displayValue}}">{{displayValue}}</a></span>
    </li>
  {{/facet}}
  {{#facet name="Facebook"}}
    <li>
      <b>{{downcase displayName}}</b>
      <span class="facet-values"><a href="{{displayValue}}" class="webkite-website" target="_blank">{{displayValue}}</a></span>
    </li>
  {{/facet}}
  {{#facet name="Twitter"}}
    <li>
      <b>{{downcase displayName}}</b>
      <span class="facet-values"><a href="https://twitter.com/{{displayValue}}" target="_blank">{{displayValue}}</a></span>
    </li>
  {{/facet}}
</ul>
